	.welcome{
			top: 1px;
			width: 10em;
			position: fixed; 
			right: 1px; 
			
			border-bottom-left-radius: 5%;
			z-index: 10;


			background: -moz-linear-gradient(left,  rgba(188,19,57,0.66) 0%, rgba(188,19,57,0.66) 2%, rgba(188,19,57,0.66) 40%, rgba(188,19,57,0.66) 52%, rgba(188,19,57,0.66) 65%, rgba(188,19,57,0.66) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left,  rgba(188,19,57,0.66) 0%,rgba(188,19,57,0.66) 2%,rgba(188,19,57,0.66) 40%,rgba(188,19,57,0.66) 52%,rgba(188,19,57,0.66) 65%,rgba(188,19,57,0.66) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right,  rgba(188,19,57,0.66) 0%,rgba(188,19,57,0.66) 2%,rgba(188,19,57,0.66) 40%,rgba(188,19,57,0.66) 52%,rgba(188,19,57,0.66) 65%,rgba(188,19,57,0.66) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8bc1339', endColorstr='#a8bc1339',GradientType=1 ); /* IE6-9 */

		}
		header h1{
			max-width: 10em;
			margin: 0;
		}
		header nav{
			position: fixed !important;
		}
		.testo_media{
			min-height: 150px;
			font-family: 'Yellowtail', cursive;
			font-size: 22px;
			
		}
		.ombra{
			-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.41);
			-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.41);
			box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.41);
		}
		.row{
			margin: 0 auto;
		}
		#myrow{
			position: relative;
			
		}
		#btn,#button{
			margin: 0 auto;
			width: 30%;
		}
		.bg-color{
			color: #bc1339;
			border-bottom: 5px solid #bc1339;
			border-top: 1px solid #bc1339;
		}
		form div{
			margin-bottom: 15px;
		}

		label{
			margin-top: 10px;
			color:  #bc1339;
			font-family: verdana;
		}
		#createtitle{
			height: 10em;
		}
		 #location_form,#restaurant,#todo,#concert{
			display: none;
		}
		.imgs{
			max-height: 14em;
		}
		#img_ind,#individual{
			-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.41);
			-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.41);
			box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.41);
		}
		footer,.search-box,#map{
			-webkit-box-shadow: -3px 2px 43px 0px rgba(0,0,0,0.11);
			-moz-box-shadow: -3px 2px 43px 0px rgba(0,0,0,0.11);
			box-shadow: -3px 2px 43px 0px rgba(0,0,0,0.11);
		}


		/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
              z-index: 3;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }